/* span {
    color: gray;
    color: rgb(255, 0, 0);
    color: rgba(255, 0, 0, 0.1);
    color: #000000;
} */

/* .cls {
    color: #ff0000;
} */

#time {
    color: #b2b2b2;
}

a {
    /* Remove the line under the link */
    text-decoration: none;
}

p {
    line-height: 1.8;
    text-indent: 2em;
}

#content_container {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}